CHANGETRACE_GITHUB_CLIENT_ID=your_github_oauth_client_id
CHANGETRACE_GITLAB_CLIENT_ID=your_gitlab_oauth_client_id
CHANGETRACE_GITLAB_BASE_URL=https://gitlab.com
CHANGETRACE_CODEBERG_CLIENT_ID=your_codeberg_oauth_client_id
CHANGETRACE_CODEBERG_CLIENT_SECRET=your_codeberg_oauth_client_secret
